.recharts-polar-angle-axis-tick .recharts-text {
	font-size: 0.9em;
    
}

.recharts-polygon {
	transform-origin: center;
	transform: rotate(120deg);
}

@media (max-width: 992px) {
	.recharts-polar-angle-axis-tick .recharts-text {
		font-size: 0.6em;
        
	}
}
