.recharts-polar-angle-axis-tick .recharts-text {
	font-size: 0.65em;
    transform-origin: center;
    transform: scale(1.03);
    
    
}

.recharts-polygon {
	transform-origin: center;
	transform: rotate(120deg);
}

@media (max-width: 992px) {
	.recharts-polar-angle-axis-tick .recharts-text {
		font-size: 0.55em;
        transform: scale(.95) ;
	}
}
