@use "../../sass/variables";
.sportsee {
	height: 8dvh;
	min-height: 40px;
	max-height: 70px;
	width: auto;
}
.site-name {
	display: flex;
	flex-direction: row;
}

.site-name h2 {
	color: variables.$recharts-red;
	align-self: center;
}
.navigate {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto;
	color: variables.$recharts-white;
	font-size: 1.9rem;
}
.navigate div {
	align-self: center;
}

.nav-item {
	color: variables.$recharts-white;
	padding-right: 20px;
}

.nav-item a,
.nav-item a:visited {
	color: variables.$recharts-white;
	text-decoration: none;
}
.nav-item a:hover {
	color: variables.$bg-grey;
	text-decoration: none;
	font-weight: 500;
}
