.container-not-yet,
.under-construction,
.filler {
	background-color: #ff9696;
	text-align: center;
	width: 70dvw;
	max-width: 1400px;
	margin: auto;
}
.not-yet {
	filter: invert(2%) hue-rotate(180deg) brightness(120%) contrast(200%);
}

.under-construction div h3 {
	color: #ff3838;
	font-weight: 600;
}
.filler {
	height: 40dvh;
}
