.count-icon {
	width: 50px;
	height: auto;
	margin: auto;
	padding: 8px 2px 5px 2px;
	background-color: transparent;
}

.counter-group {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 420px;
	max-height: 1000px;
	margin-bottom: 5vh;
}

.counter-item {
	padding: 20px 0px 20px 15px;
	margin-bottom: 1rem;
	background-color: #fbfbfb;
}

.counter-digit {
	font-size: 1.8dvw;
	font-weight: 600;
}

.box {
	border-radius: 6px;
	width: 70px;
	height: 70px;
}

@media (max-width: 992px) {
	.counter-group {
		flex-direction: row;
		flex-wrap: wrap;
		min-height:100px;
		margin-bottom:10px;
	}
}
