
.count-icon {
	
	height: 88%;
	min-height:20px;
	width: auto;
	margin-left:-15%;
	background-color: transparent;
}

.counter-group {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 70dvh;
	min-height: 420px;
	max-height: 700px;
	margin-bottom: 2vh;
	gap:3dvh;
}

.counter-item {
	padding: 20px;
	margin-bottom: 1.2rem;
	border-radius: 6px;
	background-color: variables.$bg-grey;
}

.counter-digit {
	font-size: 1.5rem;
	font-weight: 600;
}

.box {
	border-radius: 6px;
	width: 4rem;
	height: 4rem;
	min-height:30px;
	min-width: 30px;
	
}

@media (max-width: 992px) {
	.counter-group {
		flex-direction: row;
		flex-wrap: wrap;
		min-height: 100px;
		max-height: 140px;
		width:100%;
	}
	.counter-item {
		padding: 10px;
		margin: 3px;
	}
	.counter-item div {
		margin: auto;
		text-align: center;
	}
	.counter-digit {
		font-size: 1.4rem;}


	.box {
		margin: auto;
	}
}
