.recharts-polar-angle-axis-tick .recharts-text {
	font-size: 0.65rem;
	transform-origin: center;
	transform: scale(1.03);
}

.recharts-polygon {
	transform-origin: center;
	transform: rotate(120deg);
}

@media (max-width: 992px) {
	.recharts-polar-angle-axis-tick .recharts-text {
		font-size: 0.55rem;
		transform: scale(0.95);
	}
}
