
  .handlebar {
    width: 40px;
    height: 10px;
    background-color: #777;
    position: absolute;
    top: 25px;
    left: 30px;
  }
  
  @keyframes moveBike {
    0% {
      transform: translateX(-100px);
    }
    100% {
      transform: translateX(calc(100vw + 100px));
    }
  }