
body {
	max-width: 1600px;
	margin: auto;
}

.square {
	width: 25vw;
	height: 25vh;
}

.content {
	max-width: 1600px;
	margin: auto;
	background-color: variables.$bg-white;
}

.dailyActivity {
	height: 28dvh;
	min-height: 200px;
	max-height: 400px;
	background-color: variables.$bg-grey;
	margin: 30px auto 2dvh auto;
	max-width: 1100px;
	width: 98%;
}

.user-figures {
	justify-content: space-between;
	margin: auto;
	width: 66dvw;
	max-width: 1100px;
}

.averageSession {
	display: flex;
	align-content: center;
	position: relative;
	width: 19.5dvw;
	max-width: 340px;
	height: 19.5dvw;
	max-height: 340px;
	background-color: variables.$recharts-red;
	margin: 40px 0px 10px 10px;
	border-radius: 6px;
}
.recharts-responsive-container {
	z-index: 99;
}
.averageSession-title {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.2dvw;
	color: variables.$bg-white;
	width: 12dvw;
	max-width: 200px;
	padding: 20px;
}

.performance {
	display: flex;
	align-content: center;
	position: relative;
	width: 19.5dvw;
	max-width: 340px;
	height: 19.5dvw;
	max-height: 340px;
	background-color: variables.$recharts-black;
	margin: 40px 0px 10px 10px;
	border-radius: 6px;
}

.todayScore {
	display: flex;
	align-content: center;
	position: relative;
	width: 19.5dvw;
	max-width: 340px;
	height: 19.5dvw;
	max-height: 340px;
	background-color: variables.$bg-grey;
	margin: 40px 0px 10px 10px;
	border-radius: 6px;
}
.todayScore-title{
	position:absolute;
	z-index:99;
	padding:20px;
	font-weight:600;
}
.todayScore-goal {
	background-color: variables.$bg-white;
	font-size: 1.65dvw;
	color: variables.$recharts-black;
	position: absolute;
	top: 21%;
	left: 21%;
	width: 58%;
	height: 58%;
	text-align: center;
	padding: 12% 8% 0% 8%;
	border-radius: 50%;
	z-index: 99;
}
.todayScore-goal H2 {
	font-size: 3.2dvw;
	font-weight: 600;
	margin: 0px;
}
@media (min-width: 1600px) {
	.averageSession-title {
		font-size: 22px;
	}
	.todayScore-goal {
		font-size: 30px;
	}
	.todayScore-goal H2 {
		font-size: 50px;
	}
}

@media (max-width: 992px) {
	.structure {
		flex-direction: column-reverse;
	}
	.todayScore-goal {
		font-size: 1.5dvw;
		top: 23%;
		left: 23%;
		width: 54%;
		height: 54%;
	}
	.todayScore-goal H2 {
		font-size: 3dvw;
	}
	.user-figures {
		margin: auto;
		min-width: 80dvw;
		max-width: 85dvw;
	}
}

@media (max-width: 768px) and (orientation: portrait) {
	.content {
		display: none;
	}
}
