.container-page404 {
	background-color: #a87f6e;
	text-align: center;
    width:100vw;
}
.search404 {
	filter: hue-rotate(-30deg) brightness(70%) contrast(80%);
}

.page404, .filler404 {
    background-color: #a87f6e;
	max-width: 1800px;
	margin: auto;
}

.page404 div h1 {
	color: #754c3b;
	font-weight: 600;
}
.filler404 {
	height: 40dvh;
}
