.container-page404,
.page404,
.filler404 {
	background-color: #ffc7a7;
	text-align: center;
	width: 70dvw;
	max-width: 1400px;
	margin: auto;
}
.search404 {
	filter: hue-rotate(-30deg) brightness(110%) contrast(100%);
}

.page404 div h1 {
	color: #753d1d;
	font-weight: 600;
}
.filler404 {
	height: 40dvh;
}
